<div class="flex flex-col justify-center min-h-screen items-center font-mono">
  <div class="rounded-xl p-6 text-center">
    <h1 class="text-2xl font-bold mb-4">¡Hola!</h1>
    <p class="text-sm">Ingresa tu nombre:</p>

    <div class="mt-4">
      <label for="nombre" class="sr-only">Nombre:</label>
      <input
        type="text"
        class="border-b-2 w-full border-black outline-none px-2 py-1 text-inherit"
        id="nombre"
        [formControl]="username"
        autofocus
        required
      />
    </div>

    <div class="mt-4">
      <button
        class="bg-black w-full p-1.5 shadow rounded-md text-orange-200 cursor-pointer active:bg-orange-200 active:text-black hover:bg-orange-200 hover:text-black hover:shadow-outline"
        (click)="goToChat()"
        aria-label="Ir al chat"
      >
        Ir al chat
      </button>
    </div>
  </div>
</div>
